.font_name{
	font-size: 1.1em;
	font-style: bold;
	color:	green;
	font-family: Georgia;
}

.font_default{
	font-size: 0.7em;
}
.font_p{
	font-size: 0.7em;
	font-style: bold;
	color:	gray;
	font-family: Georgia;	
}

.font_tiny{
	font-size: 0.7em;
	color: black;
	font-family: Georgia;
}
.margin_name{
	margin-top: 20px;
	margin-left: 100px;
}

.margin_content{
	margin-left: 50px;
}

